.header {
    background: rgba(28,29,30,30%);
    text-align: center;
    width: 100vw;
}

.title {
    font : 5em "Freestyle Script";
}

.content {
    font : 2em "Futura Bk BT";
    margin : 0 2em 2em 2em
}