.cancel {
  height: 2em;
  width: 5em;
  border: 0px;
  border-radius: 5px;
  font-family: inherit;
  color: white;
  background: #ee2020;
  margin: 0 1em 0 0
}

.cancel:hover {
  background: #ff2020;
}

.cancel:active {
  background: #cc2020;
}
